


//公用商品列表样式
.goods_list_wrap{
	padding:10px;
	.goods_item_one{
		width:100%;
		background:#fff;
		margin-bottom:10px;
		border-radius: 5px;
		padding-bottom:10px;
	}
	.goods_img_box{
		position:relative;
		width:100%;
		height:0;
		padding-bottom:100%;
		.goods_img{
			
				position:absolute;
				width:100%;
				height:100%;
				border-radius:5px 5px 0 0 ;
			
		}
	}
	
	.goods_list{
		display:flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.goods_item{
			width:48%;
			background:#fff;
			margin-bottom:10px;
			border-radius:5px;
			padding-bottom:10px;
		}
	}
	.goods_name{
		@include longtext;
		margin:5px 0;
		padding:0 10px;
		max-width:100%;
	}
	.goods_price{
		display: flex;
		justify-content: space-between;
		align-items: center;
		color:#EE453C;
		font-size:16px;
		padding:0 10px;
		font-weight: 600;
		i{
			font-size:20px;
		};
	}
}

//公用商品列表样式

//公用loading样式和懒加载样式
.loadfinshed_text{
	
	width:100%;
	text-align: center;
	color:#999;
	padding:5px 0 20px;
}
.loadimg{
	position: absolute;
	top:0;
	left:0;
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    background: #fff;
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size:4em;
		color:#f5f5f5;
	}
}
.placeholder{
		opacity: 1;
		transition: opacity 0.4s linear;
	}

	.placeholder.loaded {
		opacity: 0;
	}
//公用loading样式


// 公用过滤样式
.filter_bar{
	background:#fff;
	ul{
		display: flex;
		justify-content: space-between;
		li{
			flex:1 1 25%;
			text-align:center;
			// padding:20rpx 0;
			height:40px;
			line-height: 40px;
		}
	}
}
.hl_box{
	position:relative;
	i{
		position:absolute;
		right:15%;
		transform: scale(.5);
		color:#999;
	}
	i:first-child{
		top:-2px;
	}
	i:last-child{
		top:4px; 
	}
}
.activeFitler{
		color:#078CF3 !important
	}
// 公用过滤样式
.emptyTips{
			display: flex;
			    justify-content: center;
			    align-items: center;
			    padding: 6em 0;
			    font-size: 14px;
			    color: #999;
		}

//小店采购统计

.shopSales{
	background:#fff;
}
.caigou_head{
	padding:10px;
	ul{
		display: flex;
		li{
			
			color:#999;
		}
	}
 }
 .totalMoney,.nums{
	 text-align: right !important;
 }
.col-1{
		width:10.66%;
	}
	.idxnum{
		 display: flex;
		 align-items:center;
		  color:#EE453C;
		  padding-left:7px;
	}
	.col-2{
		display: flex;
		align-items: center;
		 width:16.66%
	}
	.col-6{
		 width:60%;
	}
 .caigou_list_wrap{
	 padding:10px;
	 .caigou_listItem{
			display: flex;
			padding:10px 0;
			border-bottom:1px solid #f5f5f5;
			.caigou_img_box{
				position:relative;
				width:30px;
				height:30px;
				border-radius: 4px;
				border:1px solid #f5f5f5;
				overflow: hidden;
				 .caigou_img{
					 width:100%;
					 height:100%;
				 }
			}
			.caigouLoadImg i{
				 font-size:2em !important
			}
		.caigou_progress{
			.name_fee{
				display: flex;
				justify-content: space-between;
				span:first-child{
					@include longtext2;
					font-size:12px;
					color:#383838
				}
				span:last-child{
					color:#EE453C;
					margin-left:10px;
				}
			}
			.progress_view{
				width:100%;
				height:13px;
				position:relative;
				background:#CCCCCC;
				margin-top:5px;
				.progress{
					position:absolute;
					top:0;
					left:0;
					width:0;
					height:100%;
					background:linear-gradient(to right,#FC755B,#EE453C);
					transition:all .3s
				}
			}
		}
		.nums{
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	 }
}
.shopTotal{
	align-items: center;
	justify-content: space-between !important;
	border-top:1px solid #f5f5f5;
	.totalLeft{
		font-size:12px;
	}
}



//商品详情
.detail-swiper-box{
	position:relative;
	.indicator_idx{
		position:absolute;
		bottom:10px;
		right:10px;
		background:rgba(0, 0, 0, 0.28);
		border-radius:20px;
		color:#fff;
		padding:2px 10px;
		line-height: 1;
	}
}
.swiper{
	position:relative;
	height:375px;
	.bannerImg{
		width:100%;
		height:100%;
	}
}

.info_item{
	margin-bottom:10px;
	background:#fff;
	padding:10px;
}
.info_one{
	.price_stock{
		display: flex;
		justify-content: space-between;
		.left_price{
			.nowPrice{
				color:#FD0304;
				font-size:1rem;
				span{
					font-size:14px;
				}
			}
			.oldPrice{
				color:#999;
				font-size:12px;
				text-decoration: line-through;
			}
		}
		.right_stock{
			font-size:.6rem;
			color:#999
		}
	}
	.goods_name{
		font-size:.8rem;
		font-weight: 600;
		margin-top:5px;
		span{
			display: inline-block;
			padding:2px 8px;
			line-height: 1;
			background:#EE453C;
			color:#fff;
			border-radius:20px;
			font-size:12px;
			font-weight: normal;
			margin-right:5px;
		}
	}
}
.info_cell{
	display: flex;
	justify-content: space-between;
	border-bottom:1px solid #f8f8f8;
	padding:10px;
}
.info_two,.info_three{
		padding:0;
		
	
	
}
.cell_left{
	display: flex;
	align-items: center;
	span:first-child{
		color:#999;
	}
	&>span:first-child{
		width:45px;
	}
	
	span:last-child{
		display: inline-block;
		// max-width:150px;
		margin-left:10px;
		@include longtext;
		i{
			display: inline-block;
			font-style: normal;
			margin:0 5px;
			color: #e7e7e7;
			 font-weight: 100;
		}
	}
}
.cell_right{
	display: flex;
	align-items: center;
	color:#999;
	span{
		@include longtext;
		display: inline-block;
		max-width:150px;
	}
	i{
		position:relative;
		top:1px;
		font-size:14px !important;
		margin-left:10px;
	}
}
.tejie_cell{
	display: flex;
	justify-content: flex-start;
	padding:10px;
}
.tejia_left{
	display: flex;
	align-items: center;
	span{
		width:45px;
		color:#999;
	}
}
.tejia_right{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	span{
		padding:5px 0;
		i{
			font-style: normal;
			color:red;
		}
		
	}
}
.mzgoods_list{
	display: flex;
	flex-direction: column;
	transition: height .3s;
	overflow: hidden;
	.mzgoods_item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom:1px solid #f5f5f5;
		padding:10px;
		&_left{
			display: flex;
			align-items: center;
			span{
				margin-left:10px;
			}
			.mzgoods_img{
				width:30px;
				height:30px;
				border-radius: 5px;
			}
		}
		&_right{
			color:#999;
		}
	}
}
.info3_img{
	width:40px;
	height:40px;
	border-radius: 5px;
}
.info3_text{
	margin-left:10px;
	&>span{
		display: inline-block;
		font-size:.8rem;
		@include longtext;
		max-width:150px;
		color:#383838 !important;
		font-weight: 600;
	}
	.rate_comment{
		display: flex;
		span{
			font-size:.5rem;
			color:#999;
		}
	}
}
.imgdetail_info_tabs{
	background:#fff;
	.d_tabs{
		ul{
			display: flex;
			border-bottom:1px solid #f8f8f8;
			margin-bottom:10px;
			li{
				flex:1 1 50%;
				text-align: center;
				padding:8px 0;
			}
		}
	}
}
.d_tabActive{
	color:#EE453C;
	border-bottom:2px solid #EE453C
}
.tabs_cell{
	display: flex;
	padding:10px;
	span:first-child{
		width:80px;
		flex-shrink: 0;
	}
	p{
		word-break: break-all;
		color:#999
	}
}
.actionBar{
	z-index:99;
	position:fixed;
	bottom:0;
	display: flex;
	align-items: center;
	width:100%;
	background:#fff;
	border-top:1px solid #f8f8f8;
	padding:8px 0;
	
	font-size:12px;
	.action_left{
		display: flex;
		width:40%;
		span{
			position:relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex:1 1 33%;
			color:#888888;
		}
	}
	.action_right{
		display: flex;
		width:60%;
		justify-content: center;
		button{
			border-radius: 20px;
			width:42%;
			line-height:2.5;
			font-size:12px;
			color:#fff;
			padding:0 5px;
		}
		button:first-child{
			background:linear-gradient(to right, #FF9000 0%, #FF5000 100%);
			margin-right:10px;
		}
		button:last-child{
			background:linear-gradient(to right, #21A5F9, #1A6FE8);
		}
		button:after{
			border:none;
		}
	}
	
}

.amask{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;	
	bottom:0;
	right:0;	
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: all .3s;
}
.showMask{
	visibility: visible !important;
	opacity: 1;
	
}
.showSpec{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0,0, 0) !important;
}

.specContainer{
	position: fixed;
	top: 0;
	left: 0;	
	bottom:0;
	right:0;	
	visibility: hidden;
}
.specView{
	z-index:999;
	position:fixed;
	bottom:0;
	width:100%;
	height:80%;
	padding:10px;
	background:#fff;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	 transition:all .3s;
	.specHeader{
		position:absolute;
		left: 2.5%;
		width:95%;
		height:100px;
		border-bottom:1px solid #f5f5f5;
		transition:all .6s;
		transition-delay: .1s;
		.sh_left{
			position:absolute;
			width:25%;
			left:0;
			height:0;
			padding-bottom:25%;
			display: flex;
			align-items: center;
			transition:all .6s;
			transition-delay: .1s;
			.spec_img{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				border-radius:5px;
				transition:all .6s;
				transition-delay: .1s;
			}
			// .spec_swiper{
			// 	transition:all .6s;
			// 	transition-delay: .1s;
			// 	position:absolute;
			// 	top:0;
			// 	left:0;
			// 	width:100%;
			// 	height:100%;
			// 	.spec_swiperItem{
			// 		transition:all .6s;
			// 		transition-delay: .1s;
			// 		.bannerImg{
			// 			width:100%;
			// 			height:100%;
			// 		}
			// 	}
			// }
			
		}
		.sh_right{
			position:absolute;
			top:0;
			left:25%;
			transition:all .6s;
			transition-delay: .1s;
			transform: translate3d(0,0,0);
			.sh_left_text{
				display: flex;
				flex-direction: column;
				margin-left:10px;
				.spec_price{
					font-size:14px;
					color:#FD0304;
					span{
						font-size:14px;
						
					}
				}
				.spec_describe{
					color:#FC6515;
					margin-bottom: 10px;
				}
				.spec_num,.spec_stock{
					color:#999;
				}
			}
		}
		i{
			position:absolute;
			right:0;
		}
	}
	.spec_option{
		border-bottom:1px solid #f5f5f5;
	}
}
.scrollView_ani{
	height:45% !important;
	top:55% !important;
	overflow: hidden;
}
.header_ani{
	height:50% !important;
	.sh_left{
		width:50% !important;
		padding-bottom:50% !important;
		left:25% !important;
		// transform:translate3d(0,0,0)
		// .spec_swiper{
			
		// 	.spec_swiperItem{
		// 		transition:all .6s;
		// 		transition-delay: .1s;
		// 		width:100% !important;
		// 		height:100% !important;
		// 	}
		// }
	}
	.sh_right{
		left: 50% !important;
		top: 185px !important;
		transform: translate3d(-50%,0,0) !important;
		
			
	}
}
//价格列表
.priceOption{
	border-bottom:1px solid #f5f5f5;
	.priceBox{
		display: flex;
		flex-direction: column;
		padding:0;
		border-radius:4px;
		.price_head{
			display: flex;
			flex:1;
			width:100%;
			padding:5px 10px;
			background:#F1F1F1;
			box-sizing: border-box;
			align-items: center;
			span{
				display: flex;
				align-items: baseline;
				color:#FD0304;
				font-style: normal;
				i{ 
					font-size:15px;
					font-weight: 600;
					font-style: normal;
				}
			}
		}
		.spec_text{
			padding:3px 0;
			color:#999;
		}
	}
	.active_price{
		display: flex;
		flex-direction: column;
		border:1px solid #2A8BF9;
		.price_head{
			display: flex;
			flex:1;
			background:#2A8BF9 !important;
			color:#fff;
			align-items: center;
			span{
				display: flex;
				align-items: baseline;
				color:#fff;
			}
		}
	}
}
//采购数量
.buySteper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px 0;
	.steperLeft{
		font-size:14px;
		color:#999;
	}
}
//弹窗确定

.confirmBtnBox{
	position:fixed;
	bottom:0;
	left:0;
	padding:10px;
	width:100%;
	background:#fff;
	.confirmBtn{
		background:linear-gradient(to right, #21A5F9, #1A6FE8);
		color:#fff;
		border-radius: 20px;
		font-size:15px;
	}
	.selectBtn{
		display: flex;
		justify-content: space-between;
		.addCart,.buyNow{
			flex:0 1 50%;
			font-size:15px;
			color:#fff;
		}
		.addCart{
			border-radius: 20px 0 0 20px;
			background:linear-gradient(to right, #FFC500, #FF9402)
		}
		.buyNow{
			border-radius: 0 20px 20px 0;
			background:linear-gradient(to right, #FF7A00, #FE560A)
		}
		.addCart:after,.buyNow:after{
			border:0;
		}
	}
	
	
}
 //角标
.badage{
	position:absolute;
	top:-5px;
	right:0;
	background:red;
	color:#fff;
	height:16px;
	border-radius:100px;
	font-style:normal;
	text-align:center;
}
//购物车
.totalPrice{
	position: fixed;
	bottom:48px;
	width:100%;
	height:45px;
	background:#fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:8px 15px;
	border-top:1px solid #f8f8f8;
	&>view{
		display: flex;
		
		align-items: center;
	}
	.total_check{
		justify-content: flex-end;
		.checkBox{
			display: flex;
			align-items: center;
			.total{
				span{
					color:#147AED
				}
			}	
			.checkBtn{
				border-radius:20px ;
				background:linear-gradient(to right,#21A5F9,#1A6FE8);
				color:#fff;
				margin-left:5px;
			}
		}
	}
	
	.delBtn{
		border:1px solid #ff3434;
		border-radius:20px;
		color:#ff3434;
		padding:2px 10px;
	}
}

//空内容提示

.emptyTips{
	display: flex;
	flex-direction: column;
	span{
		font-size:14px
	};
	i{
		font-size:2rem
	}
}

 // sku测试
 
 .skuname{
	 font-size:14px;
	 color:#999;
	 font-weight: normal;
 }
.skuChild{
	display: flex;
	padding:1rem 0;
	flex-wrap: wrap;
	li{
		border:1px solid #f3f3f3;
		background:#fff;
		border-radius:5px;
		text-align:center;
		padding:3px 10px;
		margin-right:10px;
		margin-bottom:10px;
	}
	.activeSku{
		background:#2A8BF9;
		color:#fff;
		border:0;
	}
	.disabledSku{
		background-color: #ccc;
		opacity: 0.4;
		color: #000;
		pointer-events: none;
	}
}
